<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validate</title>
</head>
<body>
    <h1>Validate</h1>
    <form action="/validate" method="POST">
        <label for="hash">Client Hash:</label><br>
        <input type="text" id="hash" name="hash"><br>
        <input type="hidden" id="nonce" name="nonce" value="{{ nonce }}"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
