<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1 id="welcomeMessage"></h1>
    <button onclick="goBack()">Go Back</button>

    <script>
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        function goBack() {
            window.location.href = '/';
        }

        document.addEventListener('DOMContentLoaded', () => {
            const username = getQueryParam('username');
            if (username) {
                document.getElementById('welcomeMessage').innerText = `Authenticated Successfully! Welcome, ${username} :D`;
            } else {
                document.getElementById('welcomeMessage').innerText = 'Welcome!';
            }
        });
    </script>
</body>

</html>